.download-button {
  display: block;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  top: 0;
  margin: 0;
  z-index: 999999;
  cursor: pointer;
  font-weight: 500;
  background-color: red;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  text-align: center;
  padding: 1rem;
  color: #fff;
}
.download-button::after {
  content: "Download";
}
.download-button.loading {
  background: blue;
  pointer-events: none;
}
.download-button.loading::after {
  content: "Downloading...";
}
.download-button.loading.downloaded {
  background: green;
}
.download-button.loading.downloaded::after {
  content: "Download completed.";
}
._aabd._aa8k._aanf > .download-button {
  top: unset;
  bottom: 0;
}
section._ac0a > .download-button {
  position: relative;
  top: -15px;
}
